<script id='expenses-template' type="text/template">
  <li>Date: <%%= date %> </li>
  <li>Description: <%%= description %> </li>
  <li>Category: <%%= category %> </li>
  <li>Amount: <%%= amount %> </li>
</script>



<h1>Expenses and Budget</h1>

<ul id='expenses-list'>

</ul>
