<script id='expenses-template' type="text/template">

        <tr>
          <td class="shortDateFormat"><%%= jQuery.format.toBrowserTimeZone(date, "MM/dd/yyyy")  %></td>
          <td><%%= description %></td>
          <td><%%= category %></td>
          <td>$<%%= amount %></td>
          <td><input type="button" value="delete" id="deleteButton"></td>
        </tr>

</script>



<h1>Expenses and Budget</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Budget Stats</h3></div>
  <div class="panel-body">
  <section class=row>
    <article class="col-xs-4 col-md-4"><%= link_to image_tag("10-circle-green.svg") %></article>
    <article class="col-xs-4 col-md-4"><%= link_to image_tag("100-circle-yellow.svg") %></article>
    <article class="col-xs-4 col-md-4"><%= link_to image_tag("100-circle-red.svg") %></article>
  </section>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Transactions</h3></div>
  <div class="panel-body">
    <p>Enter and view transactions</p>
  </div>
<table class="table">
  <thead>
      <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Category</th>
      <th>Amount</th>
      <th></th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <form action="api/expense" method="post">
        <td><input type="date" name="date" placeholder="2015-08-31"></td>
        <td><input type="text" name="description" placeholder="Your text here..."></td>
        <td><input type="text" name="category" placeholder="Home"></td>
        <td><input type="text" name="amount" placeholder="100"></td>
        <td><input type="submit"></td>
      </form>
    </tr>
  </tbody>
  <tbody id="expenses-list">
    <!-- <tr>
      <form class="" action="api/expense" method="post">
      <td><input type="Date" name="date" placeholder="12-25-2015"></td>
      <td><input type="text" name="description" placeholder="Enter description..."></td>
      <td><input type="text" name="category" placeholder="Home"></td>
      <td><input type="text" name="amount" placeholder="$10.00"></td>
      <td><input type="submit" name="AddTrans"></td>
      </form>
    </tr> -->
  </tbody>
</table>
</div>
