<!DOCTYPE html>
<html>
<head>
  <title>ExpensesApi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="home"></a>
  <div class="container">

  </div>
<header class="row">
  <h1 class="col-xs-6 col-md-6">SB</h1>
  <nav class="col-xs-6 col-md-6 navbar">
    <ul class="nav">
      <li><a href="#home">HOME</a></li>
      <li><a href="#about">ABOUT</span></a></li>
    </ul>
  </nav>
</header>
<%= yield %>

<div id="about">
  <a href="about"></a>
  <h3>Use this app to keep a track on your day to day expenditures</h3>
</div>

<footer id="row">
  <span>&copy; 2015 Myron Johnson</span>
</footer>
</body>
</html>
